<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Nathan Nguyen</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
   <link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"> </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
   <script src="jquery.shuffleLetters.js"></script>
   <script src="js/modernizr.js"></script>
   <script src="js/index.js"></script>
   <script src="js/download.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

<script type="text/javascript">
    $(function () {
    var nameTitle = $("#nameTitle")

    // Shuffle the contents of container
    nameTitle.shuffleLetters();
    })
</script>

</head>

<body>
   <!-- Header
   ================================================== -->
         <div class="animation-element"> </div>
         <div class="animation-element"> </div>
         <div class="animation-element"> </div>
         <div class="animation-element"> </div>
         <div class="animation-element"> </div>
         <div class="animation-element"> </div>
 

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <header id="home">

      <div class="row banner">
         <div class="banner-text">

            <h1 class="responsive-headline" id="nameTitle"> Nathan Nguyen</h1>
  
            <h3>Full stack mobile and web developer. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.linkedin.com/in/nathannguyen2"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/white-rose"><i class="fa fa-github"></i></a></li>
               <li><a href="https://www.facebook.com/nathanthainguyen"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.instagram.com/nathan_da_myth"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->

   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="/static/images/profilepic.jpg" alt="Opps"/>

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p> I am an enterprise Java Developer, but also have a personal taste for Native IOS development.
                Working in many enterprise workspaces has forced practices such as test driven software development and modular code to be engrained as part of my deliverables.
                I have learned to be versatile by switching work from infrastructure to front end and now backend services.
                I have proven to deliver in a fast pace scrum environment as both a direct team member and consultant.
                Both sides, but especially consulting has taught me the value of pinpointing customer needs and fulfilling them.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
                     <span>Nathan Nguyen</span><br>
                     <span>San Francisco<br>
                     </span><br>
                     <span>(678) 772-6306</span><br>
                     <span>nathanthainguyen@gmail.com</span>
                  </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="./download/a" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Capgemini</h3>
                  <p class="info">Software Consultant<span>&bull;</span> <em class="date">Apr 2017 - Jan 2018</em></p>

               <p>

                  Projects include developing error handling and logging frameworks in Mulesoft's anypoint platform for API's to plug in.

                  Client project:
                  Built out microservices for Wells Fargo using Spring MVC and Spring Boot that followed TDD & BDD test practices along with 12 factor principles. Implemented all validations and done testing. Microservice followed API and DDD architecture. Events defined by Avro schemas were stored on Kafka clusters. Services were deployed Nomad clusters and service discovery configuration was implemented through Consul.
               </p>

               </div>
            </div>

            <div class="row item">

               <div class="twelve columns">

                  <h3>Home Depot</h3>
                  <p class="info">Software Engineer <span>&bull;</span> <em class="date">Aug 2016 - Apr 2017</em></p>

                  <p>

                     Involved in developing a web application to make price change requests for thousands of product SKUs in stores. I completed user stories that addressed the complete stack from Angular 2 on the front end to Spring MVC & Spring Boot on the backend. TDD and BDD practices were enforce, by utilizing in IBM DB2 in-memory database, on all code pushed up.
                     Selected projects include…
                     Pricing Adjustment & Change Management web application
                     • Developed micro-services deployed on PCF utilizing the Spring framework
                     • Fetched thousands of SKU product records from Oracle and IBM tables
                     • Utilized Java libraries to generate Excel documents downloaded from the application
                     • Utilized Angular 2 extensive library to consume web services and create a component-base web application
                  </p>
               </div>

            </div>

            <div class="row item">

               <div class="twelve columns">

                  <h3>Home Depot</h3>
                  <p class="info">Software Engineer Intern<span>&bull;</span> <em class="date">May 2016 - Aug 2016</em></p>

                  <p>
                     Involved in project to create an Angular 2 reusable components framework: library for future projects to be able to import through an enterprise npm artifactory.
                     The components were written using Microsoft's typescript.
                     Utilized the event-driven model and promises to add functionality for the components.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Georgia Pacific</h3>
                  <p class="info">Web Architect <span>&bull;</span> <em class="date">Oct 2015 - May 2016</em></p>

                  <p>
                     Projects 
                     <ul>
                        <li> Net web application creating short URL’s (database driven) for company employees to create and use inside the Company’s network. </li>
                        <li>
                           Support page for Business Partner Portal allowing remote access for vendors and employees.
                        </li>
                        <li>
                           Business partner portal utilizing identity management, authentication, JMVC design pattern, .net platform.
                        </li>
                     </ul>
                  </p>

                  Responsibilities include:

                  Enterprise Application Development and Architecture

                  <ul>
                     <li> Develop and manage team SharePoint by manipulating DOM elements and JavaScript objects
                     </li>
                     <li>  
                        Network Infrastructure
                     </li> 
                     <li>
                        Leverage frameworks and libraries to develop web applications
                     </li>
                     <li>
                        Refactor legacy code to improve efficiency and maintainability
                     </li>
                     <li>  
                        Administer development, stage, and production web servers
                     </li>
                     <li>
                        Troubleshoot backend application errors
                     </li>
                     <li>
                        Ensure high availability of web applications through monitoring and load balanced configurations
                     </li>
                     <li>
                        Configure and deploy Internet/Intranet/Extranet remote access and Identity Management solutions
                     </li>
                  </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Parlore</h3>
                  <p class="info">IOS Developer <span>&bull;</span> <em class="date">June 2015 - August 2015</em></p>

                  <p>
                      Worked alongside senior developers through the full development life cycle to release updates for the app.
                      Starting with designing, I collaborated with graphics designers to produce wireframes for views, and I will go on to implement the new features for updates.
                      One main feature I worked on was redesigning the marketplace for consumers to shop by scrolling through a beautifully presented collection of products.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Georgia State Library Tech Support</h3>
                  <p class="info">Tech Help Desk <span>&bull;</span> <em class="date">March 2014 - May 2015</em></p>

                  <p>
                  I helped students troubleshoot their personal technology devices and the library’s desktop computers.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->

            <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3> University of San Francisco </h3>
                  <p class="info"> </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3> Georgia State University </h3>
                  <p class="info"> </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Skills needs color and maby circle graphs 
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Skills</span></h1>
         </div>

         <div class="nine columns main-col">

				<div class="bars">

<!-- 		    <ul class="skills">
                  <li><span class="bar-expand JavaScript animation-element"></span><em>Javascript</em></li>
                  <li><span class="bar-expand Java animation-element"></span><em>Java</em></li>
                  <li><span class="bar-expand CSharp animation-element"></span><em>CSharp</em></li>
                  <li><span class="bar-expand Swift animation-element"></span><em>Swift</em></li>
                  <li><span class="bar-expand HTML5CSS3 animation-element"></span><em>HTML5 + CSS3</em></li>
                 </ul> -->

               <ul class="skills">
                  <li><span class="animation-element"></span><em>Spring Framework</em></li>
                  <li><span class="animation-element"></span><em>Java</em></li>
                  <li><span class="animation-element"></span><em>Swift</em></li>
                  <li><span class="animation-element"></span><em>Maven & Gradle</em></li>
                  <li><span class="animation-element"></span><em>HTML5 + CSS3</em></li>
               </ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->


   </section> <!-- Resume Section End-->

   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="images/portfolio/PieGraph.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>GradePie</h5>
                              <p>IOS App</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

<!--                <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="images/portfolio/console.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Console</h5>
                              <p>Web Development</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> 

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="images/portfolio/judah.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Judah</h5>
                              <p>Webdesign</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> 

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="images/portfolio/into-the-light.jpg">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
          					      <h5>Into The Light</h5>
                              <p>Photography</p>
          					   </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->



         <!-- Modal Popup
	      --------------------------------------------------------------- -->

         <div id="modal-01" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-coffee.jpg" alt="" />

		      <div class="description-box">
			      <h4>Coffee Cup</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End -->

         

        <!--  <div id="modal-02" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-console.jpg" alt="" />

		      <div class="description-box">
			      <h4>Console</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-judah.jpg" alt="" />

		      <div class="description-box">
			      <h4>Judah</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-intothelight.jpg" alt="" />

		      <div class="description-box">
			      <h4>Into the Light</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-farmerboy.jpg" alt="" />

		      <div class="description-box">
			      <h4>Farmer Boy</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-girl.jpg" alt="" />

		      <div class="description-box">
			      <h4>Girl</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-06 End -->

         <div id="modal-07" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-origami.jpg" alt="" />

		      <div class="description-box">
			      <h4>Origami</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-07 End -->

         <div id="modal-08" class="popup-modal mfp-hide">

		      <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />

		      <div class="description-box">
			      <h4>Retrocam</h4>
			      <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
		      </div>

            <div class="link-box">
               <a href="http://www.behance.net">Details</a>
		         <a class="popup-modal-dismiss">Close</a>
            </div>

	      </div><!-- modal-01 End --> 


      </div> <!-- row End -->

   <div class="row involvements">
      <h2>Hackathons / Involvements </h2>
      <ul class="hackathons">
         <li> Home Depot Hackathon 2016 </li>
         <li> <div class="hollow-circle"> </div> </li>
         <li> HACK GSU 2016 </li>
         <li> <div class="hollow-circle"> </div> </li>
         <li> Hack GT 2015 </li>
         <li> <div class="hollow-circle"> </div> </li>
         <li> Hack UGA 2015  </li>
      </ul>

   </div>

   </section>
    <!-- Portfolio Section End-->

   <!------SKILLS Starts--------->
   <!--
     <div id="skills" class="skills">
     <div class="container">
        <div class="skills-grids">
           <div class="skill-section text-center">
              <h2><span> </span>SKILLS<span> </span></h2>
           </div>
                 <div class="services_grids">
                    <div id="canvas">
                        <div class="skill-grids text-center">
                              <div class="col-md-3">  
                                 <div class="skill-grid">
                                    <div class="circle" id="circles-1"></div>                         
                                     <h3>MySql</h3>   
                                  </div>                         
                              </div>
                              <div class="col-md-3">  
                                 <div class="skill-grid">
                                    <div class="circle" id="circles-2"></div>                         
                                     <h3>AJAX</h3> 
                                  </div>                         
                              </div>
                              <div class="col-md-3">  
                                 <div class="skill-grid">
                                    <div class="circle" id="circles-3"></div>                         
                                     <h3>PHP</h3>  
                                  </div>                         
                              </div>
                              <div class="col-md-3">  
                                 <div class="skill-grid">
                                    <div class="circle" id="circles-4"></div>                         
                                     <h3>JAVASCRIPT</h3> 
                                  </div>                         
                              </div>
                              <div class="clearfix"> </div>
                          </div>
                     </div>
                 </div>
               -->

                <!-- <script type="text/javascript" src="js/circles.js"></script> -->
                <!--
                         <script>
                           var colors = [
                                 ['#181115', '#30222A'], ['#181115', '#30222A'], ['#181115', '#30222A'], ['#181115', '#30222A']
                              ];
                           for (var i = 1; i <= 5; i++) {
                              var child = document.getElementById('circles-' + i),
                                 percentage = 50 + (i * 10);
                                 
                              Circles.create({
                                 id:         child.id,
                                 percentage: percentage,
                                 radius:     80,
                                 width:      15,
                                 number:     percentage / 10,
                                 text:       '%',
                                 colors:     colors[i - 1]
                              });
                           }
                     
               </script> -->
               
             
          </div>
       </div>
         <a class="down scroll" href="#port"><span> </span></a>
     </div>
     </div>
    <!------SKILLS Ends--------->

   <!-- Testimonials Section
   ================================================== -->
 <!--   <section id="testimonials">

      <div class="text-container">

         <div class="row">

            <div class="two columns header-col">

               <h1><span>Client Testimonials</span></h1>

            </div>

            <div class="ten columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                           to do what you believe is great work. And the only way to do great work is to love what you do.
                           If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                           </p>
                           <cite>Steve Jobs</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

  <!--                    <li>
                        <blockquote>
                           <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                           Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                           nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                           </p>
                           <cite>Mr. Adobe</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

   <!--                </ul>

               </div> <!-- div.flexslider ends -->

<!--             </div> <!-- div.flex-container ends -->

 <!--          </div> <!-- row ends 

       </div>   text-container ends 

   </section> <!-- Testimonials Section End --> 

   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
					<fieldset>

                  <div>
                     <label for="contactName">Name <span class="required">*</span></label>
                     <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
                     <label for="contactEmail">Email <span class="required">*</span></label>
                     <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
                     <label for="contactSubject">Subject</label>
                     <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				   </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
                           San Francisco <br>
						   <span>(678) 772-6306 </span>
					   </p>

				   </div>

               <div class="widget widget_tweets">

                  <h4 class="widget-title">Latest Tweets</h4>

                  <ul id="twitter">
                     <li>
                        <span>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">2 Days Ago</a></b>
                     </li>
                     <li>
                        <span>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">3 Days Ago</a></b>
                     </li>
                  </ul>

		         </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.linkedin.com/in/nathannguyen2"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/white-rose"><i class="fa fa-github"></i></a></li>
               <li><a href="https://www.facebook.com/nathanthainguyen"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.instagram.com/nathan_da_myth"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

<!--             <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>   
            </ul> -->

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>-->

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>